body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}